<div class="container">
    <div class="left">
        <div class="button-container">
            <button class="button">
                <span>Generar codigo QR</span>
                <img class="qr-icon" src="assets/QR_icon.png" alt="qr-icon">
            </button>
            <button class="button">
                <span>Peticiones de entrada</span>
            </button>
        </div>
    </div>
    <div class="right">
        <img class="profile-icon" src="assets/user-profile.svg" alt="profile-icon">
        <button class="bottom-button">Back</button>
    </div>
</div>
