body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}
.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 85%;
    display: flex;
    flex: 100vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.right {
    background-color: #61f7b3;
    width: 15%;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding-left: 100px;
}

.button {
    background-color: #2fe1d2;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 30px 90px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    transition: opacity 0.3s;
    width: 100%;
}

.button:hover {
    opacity: 0.8;
}

.bottom-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.bottom-button:hover {
    opacity: 0.8;
}

.qr-icon{
    width: 40%;
    margin-left: 20px;
}

.profile-icon {
    width: 50%;
    margin-bottom: 90%;
    padding-bottom: 175px;
    margin-left: 30%;
}

span {
    font-size: x-large;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    padding-left: 100px;
    margin-bottom: 31%;
}

.qr-button {
    background-color: #2fe1d2;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 30px 90px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    transition: opacity 0.3s;
    width: 35%;
}

@media (max-width: 768px) {
    body, html {
        height: 100%;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        height: 100vh;
    }

    .left {
        width: 100%;
        height: 85%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .right {
        width: 100%;
        height: 30%;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        order: 2;
        flex: 1;
        flex-direction: row;
    }

    .button-container {
        padding: 10px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .button {
        padding: 15px 30px;
        font-size: 20px;
        height: 90%;
        align-items: center;
    }

    .bottom-button {
        font-size: 16px;
        margin-right: 50px;
    }

    .profile-icon {
        width: 10%;
        margin: 0px;
        padding: 0px;
        margin-right: 50px;
        padding-right: 300px;
        margin-left: 50px;
    }

    .qr-icon {
        width: 30px;
    }

    .qr-button {
        width: 30%;
        height: 30%;
        align-items: center;
        justify-content: center;
    }

    .qr-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin-bottom: 0px;
    }
    
    span {
        font-size: small;
    }

}