<div class="container">
    <div class="left">
        <div class="button-container">
            <a [routerLink]="['/admin/history']">
            <button class="button">
                <span>Historial</span>
            </button>
            </a>
            <a [routerLink]="['/admin/designate-ruser']">
            <button class="button">
                <span>Designar residente encargado</span>
            </button>
            </a>
        </div>
    </div>
    <div class="right">
        <button class="bottom-button">Back</button>
    </div>
</div>