<div class="container">
    <div class="left">
      <div class="image-container">
        <img class="user-image" src="assets/user-profile.svg" alt="user-image" />
        <span class="user-id">#0000-0000</span>
      </div>
      <div class="user-info-container">
        <span>Nombre:</span>
        <span class="user-name">John Doe</span>
        <span>Email:</span>
        <span class="user-emal">user&#64;example.com</span>
        <span>Direccion:</span>
        <span class="address">789 Dreamland Street, Mythic Town, Enchanted State, 67890, Fantasia</span>
        <span>Telefono:</span>
        <span class="user-phone">0000-0000</span>
      </div>
    </div>
    <div class="right">
      <button class="bottom-button">Back</button>
    </div>
  </div>
  