<div class="container">
    <div class="left-side">
      <img src="assets/logoQR.png" alt="Logo" class="logo">
      <h1>HomeScan, la aplicacion para tu residencial</h1>
    </div>
    <div class="right-side">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password">
        </div>
        <button (click)="verificarUsuario()" type="button" class="btn" id="btn-login">Login</button>
        <button type="button" class="btn" id="btn-register">Register</button>
      </form>
    </div>
  </div>
  