<div class="container">
    <div class="left-side">
        <table>
            <thead>
                <tr>
                    <th>Fecha y hora</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024-06-01 10:00 AM</td>
                    <td>Sample description 1</td>
                </tr>
                <tr>
                    <td>2024-06-01 11:00 AM</td>
                    <td>Sample description 2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="right-side">
        <a [routerLink]="['/admin']">
        <button class="background-button">Back</button>
        </a>
    </div>
</div>