<div class="container">
    <div class="left-side">
        <div class="content-box">
            <label for="invite-date">Fecha</label>
            <input type="date" id="invite-date" name="invite-date">
            <label for="invite-time">Hora</label>
            <input type="time" id="invite-time" name="invite-time">
            <label for="assigned-people">ID de usuario</label>
            <input type="text" id="user-id" name="user-id">
            <button class="submit-button">Enviar</button>
        </div>
    </div>
    <div class="right-side">
        <a [routerLink]="['/incharge']">   
        <button class="background-button">Back</button>
        </a>
    </div>
</div>
