    <div class="container">
        <div class="left-side">
            <div class="camera-container">
                <zxing-scanner 
                [formats]="formats"
                (scanSuccess)="handleQrCodeResult($event)">
              </zxing-scanner>
            </div>
        </div>
        <div class="right-side">
            <div class="status-indicator"></div>
            <a [routerLink]="['/guard']">
            <button class="action-button">Back</button>
            </a>
        </div>
    </div>

