<div class="container">
    <div class="left-side">
        <div class="content-box">
            <label for="user-id">ID de usuario</label>
            <input type="text" id="user-id" name="user-id">
            
            <label>Descripcion de peticion</label>
            <textarea rows="4" cols="50" placeholder="Enter text here"></textarea>
            <button class="submit-button">Enviar</button>
        </div>
    </div>
    <div class="right-side">
        <a [routerLink]="['/user']">
        <button class="background-button">Back</button>
        </a>
    </div>
</div>