<div class="container">
    <div class="left">
        <div class="content-box">
            <label for="user-id">Usuario 0000-0000</label>
            <span>John Doe</span>
            <label for="user-id">Usuario 0000-0000</label>
            <span>John Doe</span>
            <label for="user-id">Usuario 0000-0000</label>
            <span>John Doe</span>
            <label for="user-id">Usuario 0000-0000</label>
            <span>John Doe</span>
            
        </div>
    </div>
    <div class="right">
        <img class="profile-icon" src="assets/user-profile.svg" alt="profile-icon">
        <button class="bottom-button">Back</button>
    </div>
</div>

