<div class="container">
    <div class="left-side">
        <div class="content-box">
            <label for="user-id">ID de usuario</label>
            <input type="text" id="user-id" name="user-id">
            
            <label for="assigned-people">Personas asignadas</label>
            <input type="number" id="assigned-people" name="assigned-people">
            <button class="submit-button">Enviar</button>
        </div>
    </div>
    <div class="right-side">
        <a [routerLink]="['/admin']">
        <button class="background-button">Back</button>
        </a>
    </div>
</div>
